.completedChallerngesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 3.5rem 0;
  padding-bottom: 1 rem;
  border-bottom: 1px solid #d7d8da;

  font-weight: 500;
}
.completedChallerngesContainer span:first-child {
  font-size: 1.25rem;
}
.completedChallerngesContainer span:last-child {
  font-size: 1.5rem;
}
